
<form action="" class="form-horizontal" method="post" id="my_form2"
	accept-charset="utf-8">
	<div class="row-fluid"></div>
	<div class="row-fluid">
		<div id="content-main" class="span12">
			
				<fieldset id="fieldset-1" class="_module _aligned"
					style="background: transparent">
					<div class="fields ">
						{% for field in appform2 %}

						<div class="control-group field-{{field.name}}">
							<div>
								{% if field.errors %}
								<div class='alert alert-error'>
									<button type="button" class="close" data-dismiss="alert">×</button>
									<li>{{ field.label }}: {{ field.errors|striptags }}</li>
								</div>

								{% endif%}{% if field.field.required %}
								<div class="control-label"> <label class='required'>{{ field.label }}:</label></div>
									{% else %}
											<div class="control-label"> {{ field.label_tag }} </div>
								{% endif %}
								<div class="controls">{{ field }}</div>
							</div>
						</div>
						{% endfor %}
					</div>
			
			</div>
		</div>
		</fieldset>
</form>