 {% extends "admin/base.html" %}
 {% block extrahead %}{{ block.super }}
{% endblock %}
{% block breadcrumbs %}

<ul class='breadcrumb'>
{{ block.super }} 
<li>
<a href="/admin/">Home</a>
<span class="divider">/</span></li>
<li>
<a href="../">Apps</a>
			
<span class="divider">/</span></li>
<li> Creating Application</li>
{% endblock %}
</ul>

<div class="breadcrumbs"></div>
<!--  -->

{% block content %}

<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/prettify.css" rel="stylesheet">
<div class='container'>
	<div class="span12">
		<section id="wizard">
			<div class="page-header">
				<h1>Create New Application</h1>
			</div>
			<div id='token1' display='none'>{% csrf_token %}</div>
			<div id="rootwizard">
				<div class="navbar ">
					<div class="navbar-inner">
						<div class="container">
							<ul>
								<li><a href="#tab1" data-toggle="tab">App Info</a></li>
								<li><a href="#tab2" data-toggle="tab">App Details</a></li>
								<li><a href="#tab3" data-toggle="tab">App Features</a></li>

							</ul>
						</div>
					</div>
				</div>
				<div id="bar" class="progress progress-striped active">
					<div class="bar"></div>
				</div>
				<div class="tab-content">
					<div class="tab-pane" id="tab1" align="center">
						<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet"
							media="screen">
						<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
						<div class="basic">
							{% include "admin/partials/wizardform1.html" %}
						</div>
					</div>
					<div class="tab-pane" id="tab2" align="center">
						{% include "admin/partials/wizardform2.html" %}</div>
					<div class="tab-pane" id="tab3" align="center">
					{% include	"admin/partials/wizardform3.html" %}</div>
					<!-- 	<div class="tab-pane" id="tab4">4</div>
					<div class="tab-pane" id="tab5">5</div>
					<div class="tab-pane" id="tab6">6</div>
					<div class="tab-pane" id="tab7">7</div> -->
					<ul class="pager wizard">
						<li class="previous first " style="display: none;"><a class="btn btn-primary disabled" href="#">First</a></li>
						<li class="previous"><a class="btn btn-primary" href="#">Previous</a></li>
						<li class="next" style="display: none;"><a href="#"  class='btn btn-primary '>Last</a></li>
						<li id='lastt' class="next"><a class="btn btn-primary" href="#">Next</a></li>
					</ul>
				</div>
			</div>





		</section>
	</div>
</div>

<style>
.clear {
	clear: both
}

</style>
<style>


ul, ol {
    list-style: none outside none !important;
    margin: 0 0 10px 25px;
    padding: 0;
}
.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 305px !important;
}
label {
	display: flex !important;
    margin-bottom: 5px;
    margin-left: 50px !important;
    width: 163px;
}
.tab-content {
    overflow: hidden !important;
}

.form-horizontal .controls {
    margin-right: 389px;
}
.pager li > a:hover, .pager li > a:focus{
 background-color: #006DCC !important;
}
.tab-content{
background-color: #F5F5F5 !important;
}
</style>
<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.bootstrap.wizard.js"></script>
<script src="{{STATIC_URL}}js/prettify.js"></script>
<!-- <script src="http://code.jquery.com/jquery-1.7.js"></script> -->
<script>
$('document').ready(function(){
	$('.row-fluid .navbar .navbar-inner').hide();
});
//app wizard work here
var appWizard = {
		step1 : function (){
			$.ajax({
				url : "{% url 'admin:wizard_step1' %}",
				async:false,
				//dataType : 'json',
				//data : $('#form').serialize() + "&par1=1&par2=2&par3=232"
				data : $('#my_form').serialize()+'&csrfmiddlewaretoken='+ $("#token1 input").val() ,
				type : 'post'
			}).done(function(response) {
				//$form.replace(response);
				
				str = new String(response);
				if (str.search("errorlist") == -1 ){
					bool= true;
				}
				else {
					
				$('#tab1').html(response);
				    bool= false;	
					
				}
			})
			return bool;
		},
		step2 : function (){
			$.ajax({
				url : "{% url 'admin:wizard_step2' %}",
				async:false,
				//dataType : 'json',
				data : $('#my_form2').serialize()+'&csrfmiddlewaretoken='+$("#token1 input").val() ,
				type : 'post'
			}).done(function(response) {
				//$form.replace(response);
				str = new String(response);
				if (str.search("errorlist") == -1){
					bool= true;
				}
				else{
					
					$('#tab2').html(response);
					
					bool= false;
				}
			});
			return bool;
		},
		step3: function (){
			$.ajax({
			  url : "{% url 'admin:wizard_step3' %}",			
			  data : $('#my_form').serialize()+"&"+$('#my_form2').serialize()+"&"+$('#my_form3').serialize()+'&csrfmiddlewaretoken='+$("#token1 input").val(),		
			  type : 'post'
			}).done(function(response) {
				//$form.replace(response);
				 str = new String(response);
				
				if (str.search("errorlist") != -1){				
					
					$('#tab3').html(response);
					}
				else 
					{
						window.location.href="{% url 'admin:app-dashboard' %}";
					} 

			}).fail(function(jqXHR, textStatus, errorThrown) { 

			});
			 return false;
		}
}

$(document).ready(function() {
	$('#rootwizard').bootstrapWizard({
	
		onNext : function(tab, navigation, index) {
			
			if (index == 1) {
				
				return appWizard.step1();
			}
			if (index == 2) {				
				return appWizard.step2();	
			}
			
			if (index==3){
				return appWizard.step3();	
			}
			
		},
		onTabClick : function (tab, navigation, index,clickedIndex){
			if(clickedIndex>index){
				return false;
			}
		},
		onTabShow : function(tab, navigation, index) {
			var $total = navigation.find('li').length;
			var $current = index + 1;
			var $percent = ($current / $total) * 100;
			
			$('#rootwizard').find('.bar').css({
				width : $percent + '%'
			});
			if ($current === 3 ){
				$('#lastt').removeClass('disabled')
			}
		}
	});
	window.prettyPrint && prettyPrint()
});
</script>
{% endblock %}
